.productscreen{
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.productScreen__left{
  display: flex;
  flex: 0.8;
}

.left__image{
  margin: 1rem;
  flex: 0.6;
}

.left__info{
  margin: 1rem;
  flex: 0.4;
  background: black;
  color: white;
  height: fit-content;
  font-size: 0.9rem;
}

.left__name{
  font-weight: bold;
  font-size: 1.3rem;
}

.left__info > p, 
.right__info > p {
  padding: 1rem;
  border-bottom: 1px solid white;
}

.left__info >p:last-child, 
.right__info >p:last-child{
  border: none;
}

.productScreen__right {
  flex: 0.2;
}

.right__info {
  width: 250px;
  margin: 1rem;
  background: black;
  color: white;
  box-shadow: 0 1px 4px white;
}

.right__info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right__info p > button {
  grid-column: 1/-1;
  padding: 10px 16px;
  background-color: white;
  color: black;
  border: 1px solid white;
  cursor: pointer;
}

.right__info p > button:hover {
  background: yellowgreen;
}

.right__info select {
  padding: 10px 16px;
}

@media (max-width: 960px) {
  .productscreen{
      flex-direction: column;
  }
  .productScreen__left {
      flex-direction: column;
      flex: 1;
  }

  .left__image{
      flex: 1;
  }

  .left__info {
      flex: 1;
  }

  .productScreen__right {
      flex: 1;
      padding: 1rem;
  }

  .right__info {
      width: 100%;
      margin: 0;
  }
}